netAvida/netAvida/obj/
netAvida/netAvida/bin/
/netAvida/netAvida/obj/
/netAvida/netAvida/bin/
bin/
obj/
/bin/
/obj/
/netAvida/netAvida.Tierra/obj/
/netAvida/netAvida.Tierra/bin/
netAvida/netAvida/obj/Debug/App.g.i.cs
netAvida/.vs/netAvida/v15/.suo